:root {
  --brand-color-primary: #B58D4F;
  --brand-color-primary-bg: #f2efe4;
  --brand-color-primary-bg-hover: #e6e2d8;
  --brand-color-primary-border: #d9d5ca;
  --brand-color-primary-border-hover: #ccbe9d;
  --brand-color-primary-hover: #bfa775;
  --brand-color-primary-active: #8c6b38;
  --brand-color-primary-text: #402b13;
  --brand-color-success: #22C55E;
  --brand-color-success-bg: #f6ffed;
  --brand-color-success-border: #b6eb8f;
  --brand-color-success-hover: #72d13d;
  --brand-color-success-active: #389e0d;
  --brand-color-warning: #faad14;
  --brand-color-warning-bg: #fffbe6;
  --brand-color-warning-border: #ffe58f;
  --brand-color-warning-hover: #ffc53d;
  --brand-color-warning-active: #d48806;
  --brand-color-error: #ff4d4f;
  --brand-color-error-bg: #fff2f0;
  --brand-color-error-border: #ffccc7;
  --brand-color-error-hover: #ff7875;
  --brand-color-error-active: #d9363d;
  --brand-color-info: #b39051;
  --brand-color-info-bg: #f2efe4;
  --brand-color-info-border: #d9d5ca;
  --brand-color-link: #eaaa00;
  --brand-color-link-hover: #f7c528;
  --brand-color-link-active: #c48800;
  --brand-color-text: #1f1f1f;
  --brand-color-text-secondary: #595959;
  --brand-color-text-tertiary: #8c8c8c;
  --brand-color-text-quaternary: #bfbfbf;
  --brand-color-fill: #d9d9d9;
  --brand-color-fill-secondary: #f0f0f0;
  --brand-color-fill-tertiary: #f5f5f5;
  --brand-color-fill-quaternary: #fafafa;
  --brand-color-bg-layout: #f5f5f5;
  --brand-color-bg-container: #ffffff;
  --brand-color-bg-elevated: #ffffff;
  --brand-color-switch-thumb: #ffffff;
  --brand-color-switch-track: var(--brand-color-fill);
  --brand-color-border: #eaeaea;
  --brand-color-border-secondary: #e8e8e8;
  --brand-color-border-subtle: #e4e4e7;
  --brand-color-accent: #8c6b38;
}

.dark {
  --brand-color-primary: #856939;
  --brand-color-primary-bg: #262119;
  --brand-color-primary-bg-hover: #3c3323;
  --brand-color-primary-border: #ffffff;
  --brand-color-primary-border-hover: #615640;
  --brand-color-primary-hover: #A48043;
  --brand-color-primary-active: #837453;
  --brand-color-primary-text: #e0dcd2;
  --brand-color-success: #22C55E;
  --brand-color-success-bg: #192913;
  --brand-color-success-border: #304d20;
  --brand-color-success-hover: #87ca5c;
  --brand-color-success-active: #518f2f;
  --brand-color-warning: #dcaa37;
  --brand-color-warning-bg: #312512;
  --brand-color-warning-border: #5b4920;
  --brand-color-warning-hover: #e8c35e;
  --brand-color-warning-active: #ad872f;
  --brand-color-error: #dc6966;
  --brand-color-error-bg: #32191a;
  --brand-color-error-border: #5b3231;
  --brand-color-error-hover: #e89590;
  --brand-color-error-active: #ad5553;
  --brand-color-info: #a59166;
  --brand-color-info-bg: #262119;
  --brand-color-info-border: #474031;
  --brand-color-link: #d5aa25;
  --brand-color-link-hover: #e8c74c;
  --brand-color-link-active: #a88721;
  --brand-color-text: #dcdcdc;
  --brand-color-text-secondary: #adadad;
  --brand-color-text-tertiary: #7e7e7e;
  --brand-color-text-quaternary: #4f4f4f;
  --brand-color-fill: #252525;
  --brand-color-fill-secondary: #161616;
  --brand-color-fill-tertiary: #0d0d0d;
  --brand-color-fill-quaternary: #000000;
  --brand-color-bg-layout: #1a1a1a;
  --brand-color-bg-container: #141414;
  --brand-color-bg-elevated: #272727;
  --brand-color-switch-thumb: #ffffff;
  --brand-color-switch-track: var(--brand-color-fill);
  --brand-color-border: #2c2c2c;
  --brand-color-border-secondary: #252525;
  --brand-color-border-subtle: #1e1e1e;
  --brand-color-accent: #b58d4f;
}
